<!DOCTYPE html>
<html>
<head>
  <title>Bookeepr</title>
</head>
<body>

<%- include('partials/header.ejs') %>

<section id="first-page">
  <div id="hero">
    <h1>Bookeepr</h1>
  </div>
  <div id="desc">
    <p>Keep track of the books you read with us.</p>
  </div>
  <div id="start-btn">
    <input type="button" value="Start" name="" id="newPost" onclick="location.href='#second-page';" />
  </div>
</section>

<section id="second-page">
  <div class="form-container">
    <form action="/post" method="POST" id="form">
      <input type="text" name="username" id="username" autocomplete="off" placeholder="Username" />
      <input type="text" name="book" id="book" autocomplete="off" placeholder="Book Name" />
      <input type="text" name="note" id="note" autocomplete="off" placeholder="Notes" />
      <input type="text" name="isbn" id="isbn" autocomplete="off" placeholder="ISBN" />
      <input type="text" name="rating" id="rating" placeholder="Rating out of 5" autocomplete="off" />
      <button type="submit">Submit</button>
    </form>
  </div>
</section>

<section id="third-page">
  <form action="/" method="GET" id="sort-btn">
    <button type="submit" name="sort" value="bookName">Name</button>
    <button type="submit" name="sort" value="ratings">Ratings</button>
    <button type="submit" name="sort" value="recentlyAdded">Recently Added</button>
  </form>
  <% let id = 0; for (let ele of result) { %>
  <div id="post-container">
    <div id="post-image">
      <img src="https://covers.openlibrary.org/b/isbn/<%= ele.isbn %>-M.jpg" alt="<%= ele.book %>" />
    </div>
    <div id="post-content">
      <div id="post-title"><h1><%= ele.book %></h1></div>
      <div id="post-note"><p><%= ele.note %></p></div>
      <div id="post-username">
        <h5><%= ele.username %></h5>
      </div>
      <div id="post-buttons">
        <input type="button" value="Add Another" name="anotherPost" id="another-post" onclick="location.href='#second-page';" />
        <input type="button" value="Edit" name="edit" id="post-edit" onclick="location.href='#forth-page-<%= ele.id %>';" />
        <% id = ele.id %>
        <form action="/?_method=DELETE" method="POST">
          <input type="hidden" name="id" value="<%= ele.id %>" />
          <input type="submit" value="Delete" name="delete" id="post-delete" />
        </form>
      </div>
    </div>
  </div>

  <!-- Update Form -->
  <section id="forth-page-<%= ele.id %>" class="forth-page" hidden>
    <div class="form-container">
      <form action="/update?_method=PATCH" method="POST" id="form">
        <input type="text" name="newusername" value="<%= ele.username %>" autocomplete="off" placeholder="Username" />
        <input type="text" name="newbook" value="<%= ele.book %>" autocomplete="off" placeholder="Book Name" />
        <input type="text" name="newnote" value="<%= ele.note %>" autocomplete="off" placeholder="Notes" />
        <input type="text" name="newisbn" value="<%= ele.isbn %>" autocomplete="off" placeholder="ISBN" />
        <input type="text" name="newrating" value="<%= ele.rating %>" placeholder="Rating out of 5" autocomplete="off" />
        <input type="hidden" name="newid" value="<%= ele.id %>" />
        <button type="submit">Update</button>
      </form>
    </div>
  </section>

  <% } %>
</section>

<%- include('partials/footer.ejs') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  var forthPage = document.querySelectorAll(".forth-page");
  var postEditButtons = document.querySelectorAll("#post-edit");

  postEditButtons.forEach((button, index) => {
    button.addEventListener("click", function() {
      forthPage[index].removeAttribute("hidden");
    });
  });
});
</script>

</body>
</html>
